{% extends 'base.html.twig' %}
{% block body %}

    

    Test your code below
    <form method="post">
        <textarea id="code-area" name="code" rows="10" cols="150">
            <?php
                echo '1' + 5;
        </textarea>

        <button type="button" id="run-button" class="btn btn-success">RUN</button>
    </form>
    <div id="result-area" class="result">

    </div>
{% endblock body %}