{% extends 'base.html.twig' %}
{% block body %}

    

    Test your code below
    <form method="post">
        <textarea name="code" rows="25" cols="150">

        </textarea>

        <button type="button" class="btn btn-success">RUN</button>
    </form>
    <div class="result">

    </div>
{% endblock body %}